.product-head {
   display: flex;
   padding-left: 1rem;
   padding-right: 1rem;
   align-items: center;
}

.table-main {
   overflow: scroll;
}

.product-column {
   margin-right: 1rem;
}

.product-column img {
   object-fit: contain;
}
