.ps-menu-button:hover {
   background-color: red;
}

.active .ps-menu-button {
   color: red !important;
}

@media only screen and (max-width: 600px) {
   .app-bar {
      flex-direction: row;
   }
}
